---
layout: page
title: Articles
permalink: /articles/
---

<ul class="post-list">
{% for post in site.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <span class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.author %}
        •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ post.author }}</span>
        </span>
      {% endif %}
      {% if post.read %}
        • <span>{{ post.read }}</span>
      {% endif %}
    </span>

    <p class="post-description">{{ post.description }}</p>
  </li>
{% endfor %}
</ul>

<div class="section post-section typeset">
  <div class="single-measure">
    {% include subscription-form.html %}
  </div>
</div>
