.subscription-form {
  text-align: center;
  margin: 4rem auto 3rem;

  @include breakpoint(break-1) {
    max-width: 80%;
  }
}

.subscription-form .clear {clear:both;}

.subscription-form-field {
  @include fontsize(theta, all);

  margin: 1.2rem auto 0.8rem;
  color: darken($captionColour, 5%);

  @include breakpoint(break-1) {
    @include fontsize(eta, all);
  }

  p { margin: 0; padding: 0; }
}

.subscription-form-field .subscription-form-title {
  @include fontsize(alpha, all);

  padding-bottom: 1rem;
}

.subscription-form-protecti0n {
  position: absolute;
  left: -5000px;
}

.subscription-form-email-input {
  @include fontsize(zeta, all);
  font-family: unquote(map-get($headingtype, font-family));
  font-weight: map-get($headingtype, bold);
  border: $linkColour 0.25rem solid;
  color: $captionColour;
  padding: 1rem;
  width: 100%;
}

.subscription-form-email-input:focus {
  border-color: $hoverColour;
}

.subscription-form-submit {
  @include fontsize(zeta, all);
  font-family: unquote(map-get($headingtype, font-family));
  font-weight: map-get($headingtype, bold);
  border: none;
  background: $linkColour;
  color: $white;
  padding: 1rem;
  width: 50%;
  font-weight: bold;
}

.subscription-form-submit:hover {
  background: $hoverColour;
}
