.post-profile {
  margin: 0 auto;
}

.post-profile-photo {
  text-align: center;
  max-width: 95%;

  @include breakpoint(break-2) {
    max-width: 35%;
    padding: 0 1rem;
  }

  img {
    width: 160px;
    border-radius: 50%;
    border: 6px solid lighten($captionColour, 25%);
  }
}

.post-profile-description {
  max-width: 95%;
  padding-top: 2rem;
  font-size: 1.35rem;
  text-align: center;
  color: darken($captionColour, 25%);

  p {
    padding-top: 0;
  }

  @include breakpoint(break-1) {
    font-size: 1.18rem;
  }

  @include breakpoint(break-2) {
    max-width: 65%;
    padding-top: 0;
    text-align: left;
    font-size: 1.16rem;
  }

  @include breakpoint(break-3) {
    font-size: 1.1rem;
  }
}

.post-profile-social {
  margin-bottom: 0 !important;

  a {
    text-decoration: none;
    background: none !important;
  }
}
