.profile {
  margin-top: 30px;
  text-align: center;
}

.profile-photo {
  margin-bottom: 20px;

  img {
    width: 190px;
    border-radius: 50%;
    border: 7px solid lighten($captionColour, 25%);

    @include breakpoint(break-3) {
      width: 210px;
    }
  }
}
