.subscription-form {
  text-align: center;
  margin: 3rem auto 2rem;

  @include breakpoint(break-1) {
    max-width: 90%;
  }
}

.subscription-form-field {
  margin: 1.2rem auto 0.8rem;
  color: darken($captionColour, 5%);

  margin: 0;
  padding: 0;
}

.subscription-form-embed {
  width: 95%;
  margin: 0 auto;
}
