<footer class="global-footer">
  <p>
    <a href="https://twitter.com/siriniok" target="_blank">Twitter</a> ·
    <a href="https://facebook.com/siriniok" target="_blank">Facebook</a> ·
    <a href="https://github.com/siriniok" target="_blank">Github</a>
    <br>
    <a href="mailto:{{ site.email }}" target="_blank">💌 Contact Me</a> ·

    Subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"  rel="alternate" type="application/rss+xml" title="{{ site.title }}" target="_blank">RSS</a>
  </p>
  <p>
    &copy; 2016-{{ 'now' | date: "%Y" }} <a href="{{ site.baseurl }}">Vladyslav Siriniok</a>
  </p>
</footer>
