<header class="global-header">
  <section class="global-header__title">
    <a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>
  </section>

  <section class="global-header__nav">
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list-item">
          <a class="main-nav__list-item-link" href="{{ 'learning/2018/01/01/mit-challenge.html' | prepend: site.baseurl }}">
            MIT
          </a>
        </li>

        <li class="main-nav__list-item">
          <a class="main-nav__list-item-link" href="{{ 'articles' | prepend: site.baseurl }}">
            Blog
          </a>
        </li>
      </ul>
    </nav>
  </section>
</header>
