<div class="subscription-form">
  <form action="https://siriniok.us1.list-manage.com/subscribe/post?u=fba962de52b26bce1f0c43d1e&amp;id=a723e7409c"
        method="post" id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form" class="validate" target="_blank">

    <div class="subscription-form-field">
      <h2 class="subscription-form-title">Subscribe for Updates!</h2>
    </div>

    <div class="subscription-form-field">
      <input type="email" value="" placeholder="Your email" name="EMAIL" class="subscription-form-email-input" id="mce-EMAIL" required>
    </div>

    <div class="subscription-form-field">
      <p>After signing up for updates, you will receive new posts and occasional special offers from this blog. You can <a href="https://siriniok.us1.list-manage.com/unsubscribe?u=fba962de52b26bce1f0c43d1e&id=a723e7409c">unsubscribe</a> at any time.</p>
    </div>

    <div class="subscription-form-field-sec" aria-hidden="true">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div class="subscription-form-protecti0n">
        <input type="text" name="b_fba962de52b26bce1f0c43d1e_a723e7409c" tabindex="-1" value="">
      </div>
    </div>

    <div class="subscription-form-field">
      <input type="submit" value="SUBSCRIBE"
             name="subscribe" id="mc-embedded-subscribe" class="subscription-form-submit">
    </div>

    <div class="subscription-form-field">
      <p>
        Subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"  rel="alternate" type="application/rss+xml" title="{{ site.title }}" target="_blank">RSS</a>
      </p>
    </div>

    <div class="subscription-form-field">
      <p>
        Powered by
        <a href="http://eepurl.com/gLsafv"
           title="MailChimp - email marketing made easy and fun">MailChimp</a>
      </p>
    </div>
  </form>
</div>
