<div class="section post-section typeset" id="subscribe">
  <div class="single-measure">
    <div class="subscription-form">
      <h2 class="subscription-form-title">Subscribe for Updates!</h2>

      <p class="subscription-form-field">
      Subscribe to <a href="https://siriniok.substack.com/" target="_blank">my Substack newsletter</a> to get both updates from my blog and my short insights. You can unsubscribe any time.
      </p>

      <iframe class="subscription-form-embed" src="https://siriniok.substack.com/embed" frameborder="0" scrolling="no"></iframe>

      <p class="subscription-form-field">
      Subscribe to the blog via <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"  rel="alternate" type="application/rss+xml" title="{{ site.title }}" target="_blank">RSS</a>
      </p>
    </div>
  </div>
</div>
