// Typography
$base-font-family: "Cabin", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
$headings-font-family: "Oswald", "Roboto Condensed", "Open Sans Condensed", "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Spacing unit
$spacing-unit:     30px;

//Colors
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
