body {
  background-color: $backgroundColour;
  color: $bodyColour;
  overflow-x: hidden;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 1;
  padding-left: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.typeset li p {
  padding-top: 0 !important;
}

.section {
  padding: 2rem 0;

  @include breakpoint(break-1) {
    padding: 3rem 0;
  }

  @include breakpoint(break-2) {
    padding: 4rem 0;
  }
}

.post-section {
  padding: 1.5 0;

  @include breakpoint(break-1) {
    padding: 2rem 0;
  }

  @include breakpoint(break-2) {
    padding: 2.5rem 0;
  }
}

// Fix typography
.typeset h1, .typeset .alpha {
  @include sassline($fontsize: alpha, $font: $headingtype, $lineheight: 3.5, $below: 1, $breakpoint: 4);
}

.typeset hr {
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 70%;
}

img {
  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

.button-align {
  @include baseline(zeta, $bodytype, 2, 2, all);
}

.post-meta {
  color: $captionColour;
}

// Inline code.
code.highlighter-rouge{
  background-color: $white;

  @include baseline($fontsize: epsilon, $font: $bodytype, $lineheight: 1.5, $below: 1.5, $breakpoint: all);
}

details > summary {
  font-weight: bold;
}

.twitter-tweet {
  margin: 0 auto;
}
