// Greeting block
.greeting {
  margin-top: 40px;
  text-align: center;
}

// Profile photo
.profile-photo {
  margin-bottom: 25px;

  img {
    width: 190px;
    border-radius: 50%;
    border: 7px solid lighten($captionColour, 10%);
  }
}
